body{
    position:relative;
    z-index: -1;
    overflow: hidden;
}
body.active {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
}

/** 메인 **/
.main .introTitle.loading {
    z-index:100;
}
.main .introTitle {
    opacity: 0;
    width: 18vw;
    position: absolute;
    left: 4vw; top:3vw;
    transform: scale(.9,.9) rotate(-50deg);
}
.main .cloud6_1 {
    opacity: 0;
    position: absolute;
    left: 0; top:10vw;
    transform: scale(1.3);
    z-index:3;
}
.main .cloud6_2 {
    opacity: 0;
    position: absolute;
    right: 0; top:10vw;
    transform: scale(1.3);
    z-index:3;
}
.main .moon1 {
    opacity: 0;
    width:13%;
    position: absolute;
    left: 6vw; top:4vw;
    transform: scale(1.3);
    z-index:3;
}
.main .waveBack {
    opacity: 0;
    position: absolute;
    left: 0; bottom: 0;
    transform: translateY(100px);
    z-index: 1;
}
.main .waveFront {
    opacity: 0;
    position: absolute;
    left: 0; bottom: 0;
    transform: translateY(100px);
    z-index: 2;
}
.main .waveFront.loading {
    animation: waveFront 6s infinite linear;
}
.main .waveFront2{
    display:none;
}

.main .cloud1 {
    opacity: 0;
    position: absolute;
    left: 5vw; bottom:-5vw;
    transform: translateY(100px);
    z-index:3;
}
.main .cloud1.loading {
    animation: cloud1 6s infinite linear;
}
.main .cloud2 {
    opacity: 0;
    position: absolute;
    left: 10vw; bottom:-8vw;
    transform: translateY(100px);
    z-index:4;
}
.main .cloud2.loading {
    animation: cloud2 6s infinite linear;
}
.main .cloud3 {
    opacity: 0;
    position: absolute;
    right: 10vw; bottom:-4vw;
    transform: translateY(100px);
    z-index:5;
}
.main .cloud3.loading {
    animation: cloud3 15s infinite linear;
}
.main .star {
    opacity: 0;
}
.main .star.loading {
    animation: flash 4s infinite linear;
}

/* main keyframes */
@keyframes waveFront {
    0% {transform: translateY(10px) scaleY(1.3);}
    20% {transform: translateY(5px) scaleY(1);}
    40% {transform: translateY(10px) scaleY(1);}
    60% {transform: translateY(10px) scaleY(1.2);}
    80% {transform: translateY(5px) scaleY(1.5);}
    100% {transform: translateY(10px) scaleY(1.3);}
}
@keyframes cloud1 {
    0% {transform: translateX(-40px);}
    50% {transform: translateX(0px);}
    100% {transform: translateX(-40px);}
}
@keyframes cloud2 {
    0% {transform: translateX(10px);}
    50% {transform: translateX(-20px);}
    100% {transform: translateX(10px);}
}
@keyframes cloud3 {
    0% {transform: translateX(-20px);}
    40% {transform: translateX(30px);}
    60% {transform: translateX(60px);}
    100% {transform: translateX(-20px);}
}
@keyframes chaMove {
    0% {transform: translateY(0);}
    50% {transform: translateY(-0.5vw);}
    100% {transform: translateY(0);}
}
@keyframes chaMove2 {
    0% {transform: translateY(-0.5vw);}
    50% {transform: translateY(0vw);}
    100% {transform: translateY(-0.5vw);}
}

/* scroll */
.scrollStart{
    position:fixed;
    width: 20%; height: 10vh;
    right: -7vw; top: 20vw;
}
.scrollS {
    position: absolute;
    text-align: center;
    z-index:100;
    animation: flash 2.5s infinite linear;
}
.scrollS h2{
    font-family: var(--font-kor);
}


/* About */
#about{
    position:fixed;
    width: 100%; height: 100vh;
}
.about{
    position:relative;
}
.about .talk {
    width:48%;
    position: absolute;
    left: 26vw; top:10vw;
    transform: translateY(100px);
    z-index:600;
}
.talk .aboutText {
    width:34vw;
    position: absolute; 
    left: 59%; bottom: -6vw; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--font-kor);
    font-size: 2vw;
    line-height: 2;
}
.talk .aboutText .textEffect1 {
    display: inline-block;
    animation: swing 1s infinite alternate;
    color:#3F3128;
}

/* 캐릭터 */
.character{
    position:fixed;
    width: 100%; height: 100vh;
}
.character .mainCha1 {
    opacity: 0;
    width: 20vw;
    position: absolute;
    left: 12vw; bottom: 5vw;
    z-index: 600;
    transform: translateY(300px);
}
.character .mainCha1.loading {
    animation: chaMove 6s linear infinite;
}
.character .mainCha2 {
    opacity: 0;
    width: 17vw;
    position: absolute;
    left: 30vw; bottom: 4vw;
    z-index: 600;
    transform: translateY(300px);
}
.character .mainCha2.loading {
    animation: chaMove2 6s linear infinite;
}


/* skills - skillsWrap */
.skillsWrap {
    position: fixed;
    width: 100%; height:5vw;
}
.skillsWrap .skillsTitle {
    font-family: var(--font-kor);
    font-size: 1.6vw;
    width: 13vw;
    position: absolute;
    left: 0; top: 0;
    line-height: 1.2;
}
.skillsWrap .skillsTitle h2 span {
    display: inline-block;
    animation: tada 1s infinite;
}
.skillsWrap .skillsItem {
    font-family: var(--font-eng);
}
.skillsWrap .skillsItem .itemSub h3 {
    color: #F4C4BF;
    line-height: 1;
    font-size: 1vw;
}
.skillsWrap .skillsItem .itemName h3 {
    font-size: 2vw;
    color: #F4C4BF;
    font-weight: bolder;
}
.skillsWrap .skillsItem .itemPer h3 {
    font-size: 5vw;
}
.skillsWrap .skillsItem .itemPer span {
    font-size: 2vw;
}
.skillsWrap .skillsItem .item {
    position: absolute;
}


/* site - intro */
#site2{display:none;}
.intro .slope {
    position: absolute;
    left: -1vw; top: 20.5vw;
}
.intro .cloud1 {
    position: absolute;
    width:20vw;
    right:40vw; top:20vw;
    z-index:10000;
}
.intro .cloud2 {
    position: absolute;
    width:20vw;
    right:30vw; top:45vw;
    z-index:10000;
}
.intro .cloud3 {
    position: absolute;
    width:20vw;
    right:10vw; top:70vw;
}
.intro .cloud4 {
    position: absolute;
    width:20vw;
    right:0vw; top:95vw;
}

.pdf{
    position:absolute;
    width:20vw; height:8vw;
    top:5vw;
    font-family: var(--font-kor);
    font-size: 2vw;
    line-height:3vw;
    text-align: center;
    color:#3F3128;

}
.pdf a{
    color:#8e8e8e;
}
.web{
    position:absolute;
    width:20vw; height:8vw;
    top:5vw;
    font-family: var(--font-kor);
    font-size: 2vw;
    line-height:3vw;
    text-align: center;
    color:#3F3128;
}
.web a{
    color:#8e8e8e;
}
.app{
    position:absolute;
    width:20vw; height:8vw;
    top:4.5vw;
    font-family: var(--font-kor);
    font-size: 2vw;
    line-height:3vw;
    text-align: center;
    color:#3F3128;
}
.app a{
    color:#8e8e8e;
}
.web-app{
    position:absolute;
    width:20vw; height:8vw;
    top:5vw;
    font-family: var(--font-kor);
    font-size: 2vw;
    line-height:3vw;
    text-align: center;
    color:#3F3128;
}
.web-app a{
    color:#8e8e8e;
    cursor: pointer;
}


/* last */
#last2{display:none;}
.last .cloud {
    position: absolute;
    left:-0.2vw; top:1vw;
}
.last .moon {
    position: absolute;
    left:20vw; top:2vw;
}
.last .mountain {
    position: absolute;
    left:0vw; top:12vw;
}
.last .door {
    width:18vw;
    position: absolute;
    left:40vw; top:10vw;
}
.last .grass {
    position: absolute;
    left:-2.5vw; top:26vw;
}

/* last-캐릭터 */
#ch3{display:none;}
.character2{
    position:fixed;
    width: 1vw; height: 1vh;
}
.character2 .mainCha1 {
    opacity: 0;
    width: 18vw;
    transform: translateY(300px);
}

/* Contact */
.contact .profile{
    width:25%;
    position:absolute;
    top:5vw; left:5vw;
}
.profile p{
    font-family: var(--font-kor);
    font-size: 3vw;
    margin-left:1.5vw;
    color:#fff;
}
.contact .bye{
    width:25%;
    position:absolute;
    top:21vw; right:22vw;
    font-family: var(--font-kor);
    font-size: 1.5vw;
    margin-left:1.5vw;
    color:#fff;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.contact .bye p{
    animation: shakeX 3s infinite alternate;
}
.cont{
    font-family: var(--font-kor);
    font-size: 3vw;
    position:absolute;
    top:8vw; right:11vw;
    color:#fff;
}
.call{
    width:28%;
    position:absolute;
    top:19vw; right:5vw;
}
.call p{
    font-family: var(--font-kor);
    font-size: 2vw;
    margin-left:1.5vw;
    color:#fff;
}
.blog{
    width:25vw; height:6vw;
    background-color:#316B82;
    border-radius:10px;
    margin-top:2vw;
    margin-left:1.5vw;
    text-align: center;
}
.blog:hover{
    background-color:#689baf;
}
.blog a{
    font-family: var(--font-kor);
    font-size: 3.5vw;
    line-height:6.5vw;
    letter-spacing: 1.5vw;
    color:#fff;
}
.insta{
    width:25vw; height:6vw;
    background-color:#316B82;
    border-radius:10px;
    margin-top:2vw;
    margin-left:1.5vw;
    text-align: center;
}
.insta a{
    font-family: var(--font-kor);
    font-size: 3.5vw;
    line-height:6.5vw;
    color:#fff;
}
.insta:hover{
    background-color:#689baf;
}
.last-p{display:none;}
.copy{display:none;}

